.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bucin-message {
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-align: center;
    padding: 20px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: pink;
}
